<%= form_for(@compare_make) do |f| %>
  <% if @compare_make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compare_make.errors.count, "error") %> prohibited this compare_make from being saved:</h2>

      <ul>
      <% @compare_make.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.label :make_id %><br />
    <%= select_tag "compare_make[make_id]", options_from_collection_for_select(@marcas, "id", "name"), :prompt => "Select Make" %><br />
    <%= f.label :website_id %><br />
    <%= select_tag "compare_make[website_id]", options_from_collection_for_select(@websites, "id", "url"), :prompt => "Select Website" %><br />
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
