<%
  set_meta_tags :title => "Seminuevos #{@title.join(" ")}",
                :description => 'Busca, compra y vende seminuevos de manera mas fácil',
                :keywords => 'autos seminuevos, autos usados, seminuevos mexico, seminuevos, autos'
%>
<div class="container busqueda">
  <div class="row large-10">
    <div class="large-3 columns">
      <%= render partial: "partials/form", locals: {marcas: @marcas_form, states: @states_form, modelos: @models_form} %>
      <div id="ad-form">
        <% if Rails.env == "production" %>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Search - below form -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:300px;height:600px"
               data-ad-client="ca-pub-3810811841708456"
               data-ad-slot="7208952995"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        <% else %>
          <img src="http://placehold.it/300x690/A7DBD8/&text=Ads">
        <% end %>
      </div>
      
    </div>
    <div class="large-9 columns">
      <div id="resultados">
        <!--<div class="panel small-11 right">Start searching</div>-->
        <% if !@results.blank? %>
          <% @results.each do |data| %>   
            <div class="media large-11 right columns">
              
              <div class="large-3 columns">
                <a class="pull-left" href="<%= data.url %>" target="_blank"><img align="left" class="img-polaroid" src="<%= raw data.image %>" width="120" /></a>
              </div>
              <div class="media-body large-9 columns">
                <h3 class="media-heading"><a target="_blank" href="<%= data.url %>"><%= data.title %></a></h3>
                <div><%= number_to_currency(data.price,:unit => "$") %></div>
                <div><%=  data.location %></div>
                <div><%=  data.phone %></div>
                <div><%=  data.comment %></div>
                <div><%=  data.color %></div>
                <div><%=  data.km %></div>
                <div class="offset3">
                  <a class="btn btn-mini" href="https://twitter.com/share?text=Estena seminuevo! &url=<%= data.url %>" target="_blank" ><i class="social foundicon-twitter" alt="Tweet"></i></a>
                  <a class="btn btn-mini" href="http://www.facebook.com/share.php?u=<%= data.url %>" target="_blank"><i class="social foundicon-facebook" alt="Share"></i></a>     
                </div>
              </div>
            </div>
          <% end %>
          <div class="large-11 right columns">
            <button data-make="<%= @marca %>" data-model="<%= @modelo %>" data-min="<%= @price1 %>" data-max="<%= @price2 %>" data-state="<%= @state %>" id="more" class="btn btn-block right" value="1" type="button">More</button>
          </div>
        <% else %>
            <div class="panel large-11 right">
              No Results...
            </div>
        <% end %>
        <div class="row text-center loading"><img  src="/assets/359.gif" width="40" /></div>
      </div>
    </div>
  </div>
  
  
  <div class="small-12 columns">  
  
    
   
  </div>
  
</div>
