<%= form_for(@compare_state) do |f| %>
  <% if @compare_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compare_state.errors.count, "error") %> prohibited this compare_state from being saved:</h2>

      <ul>
      <% @compare_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :state_id %><br />
 		<%= select_tag "compare_state[state_id]", options_from_collection_for_select(@states, "id", "name",@compare_state.state_id), :prompt => "Select State" %><br />
  </div>
  <div class="field">
    <%= f.label :website_id %><br />
    <%= select_tag "compare_state[website_id]", options_from_collection_for_select(@websites, "id", "url",@compare_state.website_id), :prompt => "Select Website" %><br />
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
