<% 
if params['controller'] == 'search'
  form_id = 'search'
  offset = ''
else 
  form_id = 'search2'
  offset = 'large-3 columns small-offset-8'
end 
%>
<div class="form-search  <%= form_id + ' '+ offset %> ">
  <div class="columns sub-form">
    <h4>Busca tu auto</h4>
    <%= form_tag("/search", :method => "GET", :id => "#{form_id}", :class => "") do %>
      
      <%= select_tag "make", options_from_collection_for_select(marcas, "id", "name", params['make']), :class => "medium", :prompt => "Selecciona una marca" %>
      
      <% if params["controller"] == "search" %>
        <%= select_tag "model", options_from_collection_for_select(modelos, "id", "name", params["model"]), :class => "medium", :prompt => "Selecciona un modelo" %>  
      <% else %>
        <%= select_tag "model", options_for_select([]), :class => "medium", :prompt => "Selecciona un modelo" %>  
      <% end %> 
      
      <%= select_tag "state", options_from_collection_for_select(states, "id","name", params['state']), :class => "medium", :prompt => "Selecciona un estado" %>
      
      <div class="large-6 columns" style="padding-left: 0px;">
        <%= select_tag "price1", options_for_select(range, params['price1']), :class => "small", :prompt => "Precio minimo" %>
      </div>
      <div class="large-6 columns" style="padding-right: 0px;">
        <%= select_tag "price2", options_for_select(range, params['price2']), :class => "small", :prompt => "Precio maximo" %>
      </div>
      
      <div class="large-6 columns" style="padding-left: 0px;">
        <%= select_tag "year1", options_for_select(range_year, params['year1']), :class => "small", :prompt => "Año minimo" %> 
      </div>
      <div class="large-6 columns" style="padding-right: 0px;">
        <%= select_tag "year2", options_for_select(range_year, params['year2']), :class => "small", :prompt => "Año maximo" %>
      </div>
      <div class="small-6 columns" style="padding-right: 0px; float:right">
        <%= submit_tag  "Buscar", :class => "button postfix" %>
      </div>
      
      <div id="top-makes" class="small-12 columns" style="padding-right: 0px;float: left;padding-left: 0px;clear: both;">   
        <div class="large-4">
          <%= link_to image_tag("chevrolet.png"), "search?make=4" %>
        </div>
        <div class="large-4" >
          <%= link_to image_tag("chrysler.png"), "search?make=5" %>
        </div>
        <div class="large-4">
          <%= link_to image_tag("dodge.png"), "search?make=6" %>
        </div>
        <div class="large-4">
          <%= link_to image_tag("ford.png"), "search?make=8" %>
        </div>
        <div class="large-4">
          <%= link_to image_tag("honda.png"), "search?make=9" %>
        </div>
        <div class="large-4">
          <%= link_to image_tag("vw.png"), "search?make=27" %>
        </div>
      </div>
    <% end %>
  </div>
</div>