<nav class="top-bar">
  <div class="large-10 container">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
          <%= link_to image_tag("autobuscalo.png", :width=> 310, :alt => "autobuscalo"), root_path %>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <div class="right">
      <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% end %>
    </div>

  </div>
</nav>

<div class="row second-bar">
  <div class="large-10 container">
    <div class="small-8 columns"><h1><%= title %></h1></div>
    <div class="large-2 columns location"></div>
    <%= link_to "Anúnciate", contacto_path, class: "button right", id: "new-advertise" %>
  </div>
</div>