<%= form_for(@compare_model) do |f| %>
  <% if @compare_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compare_model.errors.count, "error") %> prohibited this compare_model from being saved:</h2>

      <ul>
      <% @compare_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model_id %><br>
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :website_id %><br>
    <%= f.number_field :website_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
