<%
set_meta_tags :noindex => true
%>
<h1>Listing compare_models</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Website</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @compare_models.each do |compare_model| %>
      <tr>
        <td><%= compare_model.model_id %></td>
        <td><%= compare_model.website_id %></td>
        <td><%= compare_model.value %></td>
        <td><%= link_to 'Show', compare_model %></td>
        <td><%= link_to 'Edit', edit_compare_model_path(compare_model) %></td>
        <td><%= link_to 'Destroy', compare_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compare model', new_compare_model_path %>
